.finished{
  position: relative;
  overflow: hidden;
  width: 195px;
  height: 210px;
  display: inline-block;

  margin: 25px 0 25px 25px;
  text-decoration: none;
  text-align: center;
  line-height: 250px;
  font-size: 200px;
}

.finished:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.finished:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 1s, 1s, 0.20s;
  transition-timing-function: ease;
}

.finished:active:after {
  opacity: 0;
}

.finished-proj{
    color: #F4AE2C;
}
