/* Color Palette:
    #55DEE0
    #326589
    #2D4759
    #F4AE2C
    #F26418 */
body, span, div{
    font-family: 'Roboto', sans-serif;
}

.side-bar{
    background-color : #2D4759;
    color : white;
    width : inherit;
    height : 100%;
}
#nav{
    margin-top : 20px;
}
#nav li{
    vertical-align: middle;
    text-decoration: none;
}
#nav li span{
    position:relative;
    display:inline-block;
    line-height:3em;
}
#nav li span span{
    position:relative;
    display:inline;
    line-height:3em;
}
.nav-text{
    display:inline;
    font-size : 0.7em;
    color: white;
}
#name{
    font-size: 1.7em;
    font-weight: bold;
    text-align: right;
    padding: 0px 15px;
    margin: 5px 0px;
}
.fa{
    color: #F26418;
    padding: 0px 15px;
}
@media (max-width: 995px){
    .side-bar{
        position : relative;
    }
    .nav-text{
        display : none;
    }
}
@media (min-width: 995px){
    .side-bar{
        position : fixed;
    }
    .nav-row{
        padding-left : 40px;
        padding-right : 40px;
        padding-top : 10px;
    }
    .nav-text{
       text-align : right;
    }
}

.content{
    overflow-y : scroll;
}

span{
    width: 100%;
    text-align : right;
}
span:before{
    float:left;
    display:inline;
    left: 0;
    width:1.25em;
    text-align: center;
}