/* Color Palette:
    #55DEE0
    #326589
    #2D4759
    #F4AE2C
    #F26418 */

body{
    font-size: 100%;
}
body, span, div, h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration:none;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
@media (max-width: 995px){
    .side-bar{
        position : relative;
    }
    #home, #about, #projects{
        display: none;
    }

    .col-centered{
        float: none;
        margin: 0 auto;

    }
}
@media (min-width: 995px){
    .side-bar{
        position : fixed;
    }
    .nav-row{
        padding-left : 40px;
        padding-right : 40px;
        padding-top : 10px;
    }
}
.side-bar{
    background-color : #2D4759;
    color : white;
    width : inherit;
    height : 100%;
}
.nav{
    margin-top : 20px;
}
.nav li{
    vertical-align: middle;
    text-decoration: none;
}
.nav li a{
    padding : 0px;
}
.nav li a span{
    position:relative;
    display:inline-block;
    line-height:3em;
}
.nav li a span span{
    position:relative;
    display:inline;
    line-height:3em;
}
.nav-text{
    display:inline;
    font-size : 0.7em;
    color: white;
}
#name{
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    padding: 0px 15px;
    margin: 5px 0px;
}
.fa{
    color: #F26418;
    padding: 0px 15px;
}

.side-link{
    width: 100%;
    text-align : right;
}
.side-link:before{
    float:left;
    display:inline;
    left: 0;
    width:1.25em;
    text-align: center;
}
#name-title{
    text-align: center;
    font-size: 3em;
}
.content{
    overflow-y: scroll;
    overflow-x: hidden;
}
.blurb{
    padding: 10px 20px;
    margin: 0px auto;
    word-wrap: normal;
}
.page-title{
    text-align: center;
    font-weight: 300;
}