<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mitch Karns</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
    {% block extra_styles %}
    {% endblock %}
</head>
<body style="overflow-x : hidden;">
    <div id="menu-button">
        <i id="menu-icon" class="fa fa-bars fa-2x"></i>
    </div>
    <div class="row" style="height:100%;">
        <!-- Desktop side bar -->
        <div id="side-bar-wrapper" class="col-md-3 left">
            <div class="side-bar">
                <ul id="nav" class="nav" style="list-style-type:none">
                    <li style="text-align: center;">
                        <img style="width: 50px; height: 50px; display: inline;" src="/static/headshot.jpg">
                        <h1 id="name">
                            Mitchell Karns
                        </h1>
                    </li>
                    <li class="nav-link" id="nav-home">
                        <a class="nav-link" href="http://127.0.0.1:5000/">
                            <span class="fa fa-home fa-2x side-link">
                                <span id="home" class="nav-text side-link">Home</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-link" id="nav-about">
                        <a class="nav-link" href="http://127.0.0.1:5000/about">
                            <span class="fa fa-user fa-2x side-link">
                                <span id="about" class="nav-text side-link">About</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-link" id="nav-projects">
                        <a class="nav-link" href="http://127.0.0.1:5000/projects">
                            <span class="fa fa-desktop fa-2x side-link">
                                <span id="projects" class="nav-text side-link">Projects</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="col-md-9 content">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/js.js"></script>
</body>
</html>